@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* header part*/

.introduction {
    width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.introduction .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px;
    margin-left: 221px;
    margin-right: 221px;
    margin-top: 26px;
    margin-bottom: 44px;
}
.introduction .intro img{
width: 240.28px;
height: 240px;
}
.introduction .intro h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 37px;
font-weight: 800;
line-height: 68px;
text-align: center;
padding-top: 10px;
}
.introduction .intro p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
padding-left: 73px;
padding-right: 73px;
margin-top: 0px;
margin-bottom: 55px;
opacity: 0.7;
}
.introduction .intro button{
cursor: pointer;
margin-top: 12px;
border-radius: 8px;
background: rgb(13, 19, 33);
width: 208px;
height: 66px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}


/*description start*/
.why-grand{
width: 1140px;
height: 1395px;
margin: 0 auto;
margin-top: 74px;
align-items: center;
background: rgba(13, 19, 33, 0.02);
padding: 80px 97px 80px 97px;
align-items: center;
}
.why-grand .why-parent{
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 946px;
    height: 1235px;
}
.why-grand .why-parent .writing h1{
    color: rgb(13, 19, 33); 
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    
}
.why-grand .why-parent .writing p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-top: 24px;
opacity: 0.7;
}
.why-grand .why-parent .first{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    padding: 48px 48px 48px 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.why-grand .why-parent .first .part{
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: column;

}
.why-grand .why-parent .first .part .change{
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
}
.why-grand .why-parent .first .part .change h1{
    margin-top: 10.5px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}
.why-grand .why-parent .first .part .change p{
    margin-top: 16px;
    margin-bottom: 32px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
}
.why-grand .why-parent .first .part .change button{
    width: 150px;
    height: 48px;
    border: 1px solid rgb(13, 19, 33);
    
}
.why-grand .why-parent .first img{
width: 259.56px;
height: 217.01px;
margin-right: 14px;
margin-bottom: 20px;
}
.why-grand .why-parent .second{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    padding: 48px 48px 48px 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.why-grand .why-parent .second .part{
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: column;
}
.why-grand .why-parent .second img{
width: 223.2px;
height: 208.85px;
margin-top: 0px;
margin-bottom: 31.15px;

}
.why-grand .why-parent .second .part .change{
    margin-left: 32px;
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
}
.why-grand .why-parent .second .part .change h1{
    margin-top: 10.5px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}
.why-grand .why-parent .second .part .change p{
    margin-top: 16px;
    margin-bottom: 32px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
}
.why-grand .why-parent .second .part .change button{
 width: 150px;
 height: 48px;
 border: 1px solid rgb(13, 19, 33);

}
.why-grand .why-parent .third{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    padding: 48px 48px 48px 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.why-grand .why-parent .third .part{
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: column;
}
.why-grand .why-parent .third .part .change{

    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
}
.why-grand .why-parent .third .part .change h1{
    margin-top: 10.5px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
text-align: left;
}
.why-grand .why-parent .third .part .change p{
margin-top: 16px;
margin-bottom: 32px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
opacity: 0.7;
}
.why-grand .why-parent .third .part .change button{
    width: 150px;
    height: 48px;
    border: 1px solid rgb(13, 19, 33);
    
    
}
.why-grand .why-parent .third img{
width: 206.4px;
height: 187.32px;
margin-top: 26.34px;
margin-bottom: 26.34px;
margin-left: 16.8px;
margin-right: 16.8px;
}


/*inspiration start*/
.inspiration{
margin: 0 auto;
margin-top: 88px;
width: 1140px;
height: 777px;
display: flex;
flex-direction: column;
align-items: center;
}
.inspiration .writing h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 34px;
font-weight: 800;
line-height: 37px;
text-align: center;
}
.inspiration .writing p{
margin-top: 30px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
opacity:0.7;
}
.inspiration iframe{
    margin-top: 48px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}


/*Target start*/
.current{
    margin: 0 auto;
    width: 1140px;
    height: 463px;
    margin-top: 149px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.current h1{
    margin-top: 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
.current p{
margin-top: 24px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
opacity: 0.7;
}
.current .target {
    width:1140px ;
    height:300px;
    display: flex;
    padding-top: 40px;
    gap: 24px;
}
.current .target .bhtml{
    width: 364px;
    height: 300px;
    margin: 0 auto;
    padding: 40px 40px 40px 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.current .target .bhtml .shtml{
    width: 284px;
    height: 220px;
    display: flex;
    flex-direction: column;

}
.current .target .bhtml .shtml img{
padding-top: 0px;
width: 56px;
height: 56px;
}
.current .target .bhtml .shtml h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: left;
}
.current .target .bhtml .shtml p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
opacity: 0.7;
}
.current .target .bhtml .shtml h3{
margin-top: 24px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
text-decoration-line: underline;
}
.current .target .bcss{
    width: 364px;
    height: 300px;
    margin: 0 auto;
    padding: 40px 40px 40px 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.current .target .bcss .scss{
    width: 284px;
    height: 220px;
    display: flex;
    flex-direction: column;
}
.current .target .bcss .scss img{
    width: 56px;
    height: 56px;
}
.current .target .bcss .scss h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: left;
}
.current .target .bcss .scss p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
opacity: 0.7;
}
.current .target .bcss .scss h3{
margin-top: 24px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
text-decoration-line: underline;
}
.current .target .bjs{
    width: 364px;
    height: 300px;
    margin: 0 auto;
    padding: 40px 40px 40px 40px;
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
.current .target .bjs .sjs{
    width: 284px;
    height: 220px;
    display: flex;
    flex-direction: column;
}
.current .target .bjs .sjs img{
    width: 56px;
    height: 56px;
}
.current .target .bjs .sjs h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: left;
}
.current .target .bjs .sjs p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
opacity: 0.7;
}
.current .target .bjs .sjs h3{
margin-top: 24px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
text-decoration-line: underline;
}

/*support start*/
.support{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin-top: 41px;
    background-image: url(../assets/handshake.jpg);
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-position: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 48px 64px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.support .writing h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}
.support .writing p{
    margin-top: 14px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.support .writing .submit {
    margin-top: 50px;
}
.support .writing .submit .write{
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    margin-right: 16px;
    border-radius: 8px;
}
.support .writing .submit .button{
    width: 120px;
    height: 58px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    font-weight: bold;

}